<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<!--<nav class="navbar navbar-light" style="background-color: #e3f2fd;">-->
<!--<nav class="navbar navbar-dark bg-primary">-->
  <a class="navbar-brand" routerLink="#">Akkermans</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <!--<a class="nav-item nav-link active" routerLink="/product">Product<span class="sr-only">(current)</span></a>
	  <a class="nav-item nav-link active" routerLink="/customer">Customer<span class="sr-only">(current)</span></a>-->
	  <a class="nav-item nav-link active" routerLink="/customerproduct">Customer-Product<span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>